.App-profile {
    width: 70.35%;
    position: absolute;
    top: 80px;
    background: rgb(243, 243, 243);
    padding: 0 200px 100px;
}

.profile {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background: white;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin: 50px auto;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 80%;
}

.info {
    width: 50%;
    margin-left: 30px;
}

.detail-info {
    display: flex;
}

.detail-info img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

.image {
    width: 50%;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.btn-change {
    float: right;
    padding: 20px 68px;
    margin-top: 30px;
    background: #ffaf00;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.history {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background: white;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin: 50px auto;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
}