.App-detail {
  width: 100%;
  position: absolute;
  top: 0px;
}

.header-title {
  width: 90px;
}

.img-title {
  width: 100%;
  height: 350px;
}

.content-detail {
  position: absolute;
  top: 80px;
  background: whitesmoke;
  padding: 0 200px 100px 200px;
}

.facilities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

p {
  font-size: 9pt;
  color: grey;
}

.facility h5 {
  font-size: 12px;
}

.img-accomodation {
  width: 15%;
  height: 20px;
  margin-right: 5px;
}

.detail-description {
  width: 100%;
}

.detail-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn {
  background: #ffaf00;
  color: white;
  border: 0px;
  border-radius: 10px;
}

.detail {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 16pt;
}

.total {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book {
  padding: 10px 30px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}