.content {
    max-width: 100%;
    position: relative;
    margin-top: -40px;
    height: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    padding-left: 120px;
}

.hibiscus {
    position: absolute;
    top: -50px;
    right: 0;
    align-content: flex-start;
}

.card {
    width: 70%;
    background: #FFFFFF;
    border-radius: 5px;
}

.card h3 {
    width: 70%;
}

.card img {
    margin-top: 20px;
}

.card p {
    color: grey;
    width: 70%;
}