.App-header {
    width: 100%;
    height: 547px;
    background: url('../../Images/jumbrotron.png');
    background-size: cover;
}

.Header {
    width: 100%;
    height: 74px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.header-left {
    float: left;
    width: 230px;
    height: 75px;
    margin-left: 90px;
    background: url('../../Images/Icon.png');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-right {
    float: right;
    margin-top: 20px;
    max-width: 20%;
    margin-right: 90px;
}

.btn-login {
    width: 100px;
    height: 30px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    background: transparent;
}

.btn-register {
    width: 100px;
    height: 30px;
    border: 0;
    background: #FFAF00;
    border-radius: 5px;
    color: white;
}

.header-title {
    margin-top: 120px;
    width: 50%;
    height: 145px;
    font-size: 24px;
    line-height: 20px;
    color: #FFFFFF;
}

.text-header {
    font-weight: bold;
    margin-left: 90px;
}

.text-title {
    font-weight: lighter;
    margin-left: 90px;
}

.header-search {
    width: 88%;
    height: 83px;
    margin-left: 90px;
}

.header-search p {
    color: #FFFFFF;
    font-weight: bolder;
    text-align: left;
}

.input-search {
    width: 89%;
    height: 50px;
    border: 0;
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
}

.btn-search {
    width: 10%;
    height: 50px;
    /* left: 1000px;
    top: 54px; */
    border: 0;
    background: #FFAF00;
    color: #FFFFFF;
    border-radius: 0, 5px, 5px, 0;
}