.App-footer {
    position: absolute;
    width: 100%;
    height: 289px;
    top: 954px
}

.App-footer img {
    margin-top: 945px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 54px;
    top: 1045px;
    background: #FFAF00;
}